body {
	padding-top: 80px;
	padding-bottom: 40px;
}

div.footer {
	margin-top: 20px;
}

div.fb-like {
	margin-left: 12px;
	position: relative;
	top: 2px;
}

a.meta {
	margin-left: 12px;
}

a.meta:first-child {
	margin-left: 0px;
}
