{% extends "page.html" %}
{% from "macros.html" import passage_block %}
{% block content %}
<div class="row">
	<div class="span10 offset1">
		<h1>Welcome to Seinfeld Quote</h1>
		<p class="lead">
			This site is dedicated to making it easy to find and access your
			favorite quotes from that legendary TV sitcom about nothing. You can
			search for random quotes by topic or speaker, or just get a totally
			random quote altogether.
		</p>
	</div>
</div>

{{ passage_block(passage) }}
{% endblock %}
