{% macro navbar_link(url, title, icon=None) -%}
<li{% if request.path.startswith(url) %} class="active"{% endif %}>
<a href="{{ url }}">{% if icon %}<i class="icon-{{ icon }}"></i> {% endif %}{{ title }}</a></li>
{%- endmacro %}

{% macro passage_block(passage) -%}
<div class="row">
	<div class="well span8 offset2">

		<div class="row">
			<div class="span7 offset1">
				<h2>
					{{ passage.episode.title }}
					<small>Season {{ passage.episode.season }}, Episode {{ passage.episode.number }}</small>
				</h2>
			</div>
		</div>

		{% for quote in passage.quotes %}
		<div class="row">
			<div class="span1">
				<p class="muted pull-right">
					<b><small>{{ quote.speaker | capitalize }}</small></b>
				</p>
			</div>
			<div class="span7">
					<p>{{ quote.text }}</p>
			</div>
		</div>
		{% endfor %}

		<div class="row">
			<div class="span7 offset1">
				<small><a class="" href="/quote/{{ passage.uid }}"><i class="icon-link"></i> Permalink</a></small>
				<div class="fb-like" data-href="http://seinfeldquote.com/quote/{{ passage.uid }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
			</div>
		</div>
	</div>
</div>
{%- endmacro %}

{% macro search_block() -%}
<div class="row">
	<div class="well span6 offset3">
		<h1>Search Quotes</h1>
		<form class="form-horizontal" action="/random" method="get">
			<div class="control-group">
				<label class="control-label" for="speaker">Speaker</label>
				<div class="controls">
					<input class="input" type="text" id="speaker" name="speaker" placeholder="Anyone" data-provide="typeahead"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="subject">Subject</label>
				<div class="controls">
					<input type="text" id="subject" name="subject" placeholder="Anything"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" type="submit">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	$.getJSON('/api/speakers', function(data, status) {
		$('input#speaker').typeahead({
			minLength: 0,
			source: data,
			items: 6,
		});
		$('input#speaker').focus();
	});
});
</script>
{%- endmacro %}
