{% extends "page.html" %}
{% from "macros.html" import passage_block %}
{% block content %}
<div class="row">
	<div class="span12">
		<center>
			<div class="btn-group">
				{% if subject and speaker %}
					<a class="btn" href="/random/speaker/{{ speaker }}/{{ subject }}"><i class="icon-comment"></i> {{ speaker | capitalize }} on {{ subject | capitalize }}</a>
					<a class="btn" href="/random/speaker/{{ speaker }}"><i class="icon-user"></i> More {{ speaker | capitalize }}</a>
					<a class="btn" href="/random/{{ subject }}"><i class="icon-tags"></i> More {{ subject | capitalize }}</a>
				{% elif subject %}
					<a class="btn" href="/random/speaker/{{ passage.speaker }}/{{ subject }}"><i class="icon-comment"></i> {{ passage.speaker | capitalize }} on {{ subject | capitalize }}</a>
					<a class="btn" href="/random/speaker/{{ passage.speaker }}"><i class="icon-user"></i> More {{ passage.speaker | capitalize }}</a>
					<a class="btn" href="/random/{{ subject }}"><i class="icon-tags"></i> More {{ subject | capitalize }}</a>
				{% elif speaker %}
					<a class="btn" href="/random/speaker/{{ speaker }}"><i class="icon-user"></i> More {{ speaker | capitalize }}</a>
				{% else %}
					<a class="btn" href="{{ request.url }}"><i class="icon-refresh"></i> New Quote</a>
					<a class="btn" href="/random/speaker/{{ passage.speaker }}"><i class="icon-user"></i> More {{ passage.speaker | capitalize }}</a>
				{% endif %}
				<a class="btn" href="/search"><i class="icon-search"></i> New Search</a>
			</div>
		</center>
	</div>
</div>
<br/>

{{ passage_block(passage) }}
{% endblock %}
